/* Colors */
@define-color yellow #fde047;
@define-color orange #fb923c;
@define-color red #ef4444;

/*
	Main
*/
* {
  margin: 0;
  font-family: "MesloLGS NF";
  font-size: 16px;
}
body {
  -webkit-font-smoothing: antialiased;
}
input,
button,
textarea,
select {
  font: inherit;
}

window#waybar {
  padding-right: 30px;
  color: black;
  background: rgba(255, 255, 255, 1);
}

tooltip {
  background: white;
  border: 1.5px solid black;
}

/**
 * MODULES
 */
#battery {
  padding: 0px 5px;
  margin: 3px;

  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  font-size: 20px;
}

#battery.charging {
  color: rgba(0, 255, 0, 0.75);
}

#battery.notice:not(.charging) {
  color: @yellow;
}

#battery.warning:not(.charging) {
  color: @orange;
}

#battery.critical:not(.charging) {
  /* TODO: animation */
  background: @red;
}

#clock {
  margin: 3px;
  padding: 5px 15px;

  font-family: monospace;
  font-weight: 600;
  font-size: 18px;
  color: black;
}

#cpu {
  padding: 2px 0px;
  margin: 3px;

  font-size: 20px;
}

#cpu.warning {
  color: @orange;
}

#cpu.critical {
  /* TODO: animate */
  color: @red;
}

#disk.warning {
  color: @orange;
}

#disk.critical {
  color: @red;
}

#keyboard-state {
  padding: 5px;
  margin: 3px;

  font-weight: 600;
  color: #a3a3a3;
}

#keyboard-state label.numlock.locked {
  color: #14b8a6;
}

#memory {
  padding: 5px 5px;
  margin: 3px;

  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  font-size: 20px;
}

#memory.warning {
  color: @orange;
}

#memory.critical {
  color: @red;
}

#pulseaudio {
  padding: 5px 5px;
  margin: 3px;

  font-size: 20px;
}

#tray {
  margin: 3px;
  padding: 5px 10px;
}

#workspaces button {
  padding: 10px 0px;
  margin: 3px;

  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 1);
}

#workspaces button.focused {
  background: rgb(0, 255, 221);
}

#workspaces button.urgent {
  color: @ctp-latte-maroon;
  animation: blink-warning;
  animation-duration: 1s;
}
