window {
  margin: 5px;
  border: 3px solid #10e1ad;
  border-radius: 10px;
  background-color: #282a36;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #282a36;
}

#input {
  margin: 5px;
  border: none;
  background-color: #282a36;
  color: white;
}

#scroll {
  margin: 5px;
  border: none;
  background-color: #282a36;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #282a36;
}

#entry {
  background-color: #282a36;
  color: white;
  border-radius: 10px;
}

#entry:selected {
  background-color: #10e1ad;
}

#text {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#text:selected {
  color: #282a36;
}
